<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotorClaimServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MotorClaimServices.Properties.Settings>
            <setting name="MotorClaimServices_wsMC_MotorClaimWebService"
                serializeAs="String">
                <value>http://61.47.16.89/MotorClaimDemo/MotorClaimWebService.asmx</value>
            </setting>
        </MotorClaimServices.Properties.Settings>
    </applicationSettings>
</configuration>