<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ASProductionBudgetReportG2VB.My.MySettings.PortalConnectionString"
            connectionString="Data Source=lockthbnk-db07;Initial Catalog=Portal;Persist Security Info=True;User ID=locksql;Password=Lockton###"
            providerName="System.Data.SqlClient" />
        <add name="ASProductionBudgetReportG2VB.My.MySettings.LWTReportsConnectionString"
            connectionString="Data Source=LOCKTHBNKMGC01\SIBISSQL;Initial Catalog=LWTReports;User ID=sa;Password=lockton123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<!-- 
		<add key ="Mode" value ="Interval"/>
		<add key="IntervalMinutes" value="1"/>		
		-->

		<add key="Mode" value="Daily"/>
		<add key="ScheduledTime" value="8:05"/>


		<!-- <add key="smtp" value="172.16.40.244"/>-->
		<add key="smtp" value="172.16.40.135"/>


		<add key="ServiceName" value="ASProductionBudgetG2 (UAT)"/>
		<add key="DisplayName" value="ASProductionBudgetG2 (UAT)"/>
		<add key="Description" value="ASProductionBudgetG2 (UAT)"/>

		<add key="JobStart" value="20171027"/>
		<add key="JobEnd" value="29991231"/>
	</appSettings>
</configuration>
