<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SFTPConsoleApplication2.Properties.Settings.nltdbConnectionString"
            connectionString="Data Source=afwnlt;Initial Catalog=nltdb;Persist Security Info=True;User ID=sa;Password=password###"
            providerName="System.Data.SqlClient" />
    </connectionStrings>


	<appSettings>
		<add key="smtp" value="172.16.40.135"/>
		<add key="mailfrom" value="dusit@asia.lockton.com"/>
		<add key="mailto" value="dusit@asia.lockton.com"/>
		<add key="mailcc" value="akaradeach@asia.lockton.com"/>
		<add key="mailbcc" value="dusit@asia.lockton.com"/>
	</appSettings>
</configuration>